<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
  <script src="../controllers/scripts.js"></script>

</head>

<body>
  <div class="header"></div>
  <h1>Cadastro</h1>
  <div class="cadastro-container">
    <form id="cadastroForm" action="/cadastro" method="POST">
      <div class="container" style="display:flex; flex-wrap: wrap;" id="cadastro">
        <label for="nome">Nome Completo</label>
        <input id="cadastro" type="text" name="nome" required>
      </div>
      <div class="container" id="cadastro">
        <label for="email">Email</label>
        <input type="email" name="email" required>
      </div>
      <div class="container" id="cadastro">
        <label for="telefone">Telefone</label>
        <input type="tel" name="telefone" required>
      </div>
      <div class="container" id="cadastro">
        <label for="cep">CEP</label>
        <input type="text" name="cep" required>
      </div>
      <div class="container" id="cadastro">
        <label for="endereco">Endereço</label>
        <input type="text" name="endereco" required>
      </div>
      <div class="container" id="cadastro2">
        <label for="numero">Número</label>
        <input type="text" name="numero" required>

        <label for="complemento">Complemento</label>
        <input type="text" name="complemento">
      </div>
      <div class="container" id="cadastro2">
        <label for="genero">Gênero</label>
        <select name="genero" required>
          <option value="">Selecione</option>
          <option value="masculino">Masculino</option>
          <option value="feminino">Feminino</option>
          <option value="outros">Outros</option>
        </select>

        <label for="estadoCivil">Estado Civil</label>
        <select name="estadoCivil" required>
          <option value="">Selecione</option>
          <option value="solteiro">Solteiro(a)</option>
          <option value="casado">Casado(a)</option>
          <option value="divorciado">Divorciado(a)</option>
          <option value="viuvo">Viúvo(a)</option>
        </select>
      </div>
      <div class="container" id="cadastro2">
        <label for="dataNascimento">Data de Nascimento</label>
        <input type="date" name="dataNascimento" required pattern="\d{2}\/\d{2}\/\d{4}">

        <label for="CPF">CPF</label>
        <input type="cpf" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required>
      </div>

      <div class="container" id="cadastro2">
        <label for="senha">Senha</label>
        <input type="password" name="senha" required>
      </div>
      <div class="container" id="cadastro2">
        <label for="confirmarSenha">Confirmar Senha</label>
        <input type="password" name="confirmarSenha" required>
      </div>
    </form>
    <button id="cadastro" type="submit">Cadastrar</button>
    <button id="cadastro" type="button" onclick="voltarLogin()">Voltar</button>
  </div>


  <div class="footer">2023</div>

</body>

</html>