.header {
    background-color: #F7A072;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
}
.header h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.header button {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 5%;
}