<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HealthLine</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
  </head>
  <body>
    <header></header>
    <h1>HealthLine</h1>
    <form>
      <label for="login">LOGIN</label>
      <input type="text" id="login" name="login" required><br><br>
      <label for="senha">SENHA</label>
      <input type="password" id="senha" name="senha" required><br><br>
      <button id = "entrar"type="submit" name="entrar">ENTRAR</button>
      <button id = "criar" type="button" name="criar">CRIAR</button>
    </form>
    <footer></footer>
  </body>
</html>
