/* Estilos para todas as telas */
body {
  background-color: #f2f2f2;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 4.063rem;
  font-weight: 100;
  line-height: 4.688rem;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 15%;
  color: #333;
  margin: 0;
  padding: 0;
  margin-right: 0;
}

html,
body {
  height: 100%;
}

main {
  box-sizing: border-box;
  padding-bottom: 8.25rem;
}


.cadastro-container {
  width: 70%;
  margin: 0 auto;
}


input {
  background-color: #D9D9D9;
}

h1 {
  background-color: #f2f2f2;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 4.063rem;
  font-weight: 100;
  line-height: 4.688rem;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 25%;
  color: #333;
  margin: 0;
  padding: 0;
  margin-right: 0;
  color: #333;
  text-align: center;
}

label {
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.563rem;
  display: block;
  margin-bottom: 0.313rem;
  color: #666;
}

input[type="text"],
input[type="login"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 748px;
  padding: 0.625rem;
  margin-bottom: 0.938rem;
  border: none;
  border-radius: 1.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

button[type="submit"],
button[type="alternative"] {
  font-family: 'Ubuntu Condensed', sans-serif;
  display: inline-block;
  width: 45%;
  padding: 0.625rem;
  border: none;
  border-radius: 1.25rem;
  font-size: 1.563;
  cursor: pointer;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #0FA3B1;
  color: white;
}

button[type="alternative"] {
  background-color: #B73939;
  color: white;
}

button[type="submit"]:hover,
button[type="alternative"]:hover {
  text-decoration: underline;
}

/* Estilos para telas menores do que 600px */
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 10%;
  }

  label {
    font-size: 20px;
  }

  input[type="text"],
  input[type="password"] {
    font-size: 14px;
  }

  button[type="submit"],
  button[type="alternative"] {
    width: 100%;
    font-size: 20px;
  }
}

@media (min-width: 601px) {
  h1 {
    font-size: 65px;
    line-height: 75px;
    letter-spacing: 25%;
  }

  label {
    font-size: 25px;
  }

  input[type="text"],
  input[type="password"] {
    font-size: 16px;
  }

  button[type="submit"],
  button[type="alternative"] {
    width: 45%;
    font-size: 25px;
  }
}

@media (max-width: 768px) {

  button[type="submit"],
  button[type="alternative"] {
    width: 100%;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #F7A072;
  height: 8.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.hamburger {
  cursor: pointer;
}

.menu-lateral {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  overflow: auto;
  z-index: 1000;
}

.menu-lateral ul {
  list-style-type: none;
  padding: 0;
}

.menu-lateral ul li {
  margin-bottom: 10px;
}

.menu-lateral ul li a {
  text-decoration: none;
  color: #007BFF;
}

.menu-lateral ul li a:hover {
  color: #0056B3;
}

.footer {
  background-color: #F7A072;
  height: 8.25rem;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 40px;
  line-height: 8.25rem;
}

.container {
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
}

#map {
  width: 70%;
  height: 400px;
  margin: 0 auto;
}

select {
  height: 38px;
  padding: 0.625rem;
  margin-bottom: 0.938rem;
  border: none;
  border-radius: 1.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  align-items: center;
  background-color: #D9D9D9;
}

input[type="date"],
input[type="cpf"] {
  height: 20px;
  padding: 0.625rem;
  margin-bottom: 0.938rem;
  border: none;
  border-radius: 1.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  align-items: center;
}

button[id="cadastro"] {
  font-family: 'Ubuntu Condensed', sans-serif;
  display: inline-block;
  width: 45%;
  padding: 0.625rem;
  border: none;
  border-radius: 1.25rem;
  font-size: 1.563;
  cursor: pointer;
  box-sizing: border-box;
}

.login-container {
  width: 33%;
  margin: 0 auto;
}

#cadastro {
  max-height: 30px;
}